# Python
__pycache__/
*.py[cod]

# Docker/local data
data/*
!data/.gitkeep
outputs/*
!outputs/.gitkeep
!outputs/frames/
outputs/frames/*
!outputs/frames/.gitkeep
!outputs/crops/
outputs/crops/*
!outputs/crops/.gitkeep
!outputs/ocr_csv/
outputs/ocr_csv/*
!outputs/ocr_csv/.gitkeep
!outputs/reports/
outputs/reports/*
!outputs/reports/.gitkeep
paper/

# Local environment
.env
.venv/
venv/

# OS/editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
